 .app-container, .header-card, .theme {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #ffcb18;
}

.app-container {
background-color: #ffcb18;
font-family: 'Raleway', sans-serif;
}

.header-card {
    
    font-family: 'Raleway', sans-serif;
    background-color: #fcf8e4;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #fcf8e4;
    text-align: center;
    padding: 7px ;
    box-shadow: var(--shadow);
}

.burger-icon {
    padding-top: 20px;
    margin-bottom: -75px;
    height: 2em;
    width: 2em;
}

.header-icon {
    width: 20%;
  
}
.title {
    text-align: center;
    width: 100%;
    font-size: 50px;
}

.masonry-layout {
    max-width: 800px;
}

