
.app-container {
background-color: #ffcb18;
font-family: 'Raleway', sans-serif;
}

.header-card {
    
    font-family: 'Raleway', sans-serif;
    background-color: #fffaeb;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    text-align: center;
    padding: 30px 50px;
    box-shadow: var(--shadow);
}